<h2>Signup</h2>
<form action="/auth/signup" method="POST">
  <label for="email">email</label>
  <input type="email" name="email" id="email">

  <label for="password">password</label>
  <input type="password" name="password" id="password">

  <label for="password_confirm">password confirm</label>
  <input type="password" name="password_confirm" id="password_confirm">

  <button type="submit">Registrarme</button>
</form>